<h1 class="text-center">Add another phone number for <%= @contact.name() %> </h1>
<br>
<br>
<h5>Write the phone number you wish to add to <%= @contact.name() %> below. <span class="text-danger">Enter the phone number in the example format following: Home: (xxx)xxx-xxxx</span></h5>

<form action="/numbers" method="post">
  <input id='contact_id' name='contact_id' type='hidden' value='<%= @contact.id() %>'>

  <label for='new_number'>Number:</label>
  <input id='new_number' name='new_number' type="text" class="form-control" placeholder="Type: (xxx)xxx-xxxx">
  <br>
  <button type="submit"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>Add Number</button>
</form>

<h3 class="text-center">Here are all the numbers in this contact:</h3>

<ul>
    <li>Primary Phone Number: <%= @contact.phone_number_primary() %></li>
  <% @contact.numbers().each() do |number| %>
    <li><%= number.new_number() %></li>
  <% end %>
</ul>

<<a href="/">Return to Main Page</a>
